@font-face {
    font-family: "render-font";
    src: url("/assets/font.otf"),
         url("/assets/font.otf"),
}



#out {
    font-size: 12px;
    letter-spacing: 0.8px;;
    line-height: 16px;
    font-family: 'render-font';
    width: fit-content
}